 #footer {
     position: fixed;
     padding: 10px 10px 45px 10px;
     bottom: 0;
     width: 100%;
     height: 40px;
     background: black;
     color: white;
 }

 body {
     background: url(https://media.gettyimages.com/id/86871480/photo/f1-grand-prix-of-spain-qualifying.jpg?s=2048x2048&w=gi&k=20&c=8BSfIaOq1cYpolbPvdWSF6WtN20fgWriuVlHYrlLv40=) no-repeat center center fixed;
     background-size: cover;
 }

 #center {
    display: flex;
    align-items: center;
    justify-content: center;
     
 }

 h1{
    color:red;
 }